

@model ModelAoto.Models.Entities.Sale
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<h2>Satış Güncelle</h2>
<br>

<form class="form-group" method="post">

    @Html.LabelFor(x => x.Product.ProductName)
    @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.Products, new { @class = "form-control" })
    <br />

    @*@Html.LabelFor(x => x.Product.Brand.BrandName)
    @Html.DropDownListFor(x => x.Product.BrandId, (List<SelectListItem>)ViewBag.Brands, new { @class = "form-control" })
    <br />*@

    @Html.Label("Müşteri")
    @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.Customers, new { @class = "form-control" })

    <br />

    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.Employees, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Price)
    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Quantity)
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", type = "number", min = "0", step = "1" })
    <br />

    @Html.LabelFor(x => x.TotalPrice)
    @Html.TextBoxFor(x => x.TotalPrice, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date , new { @class = "form-control" })
    <br />




    <button class="btn btn-outline-primary">Kaydet</button>
</form>


