@model ModelAoto.Models.Entities.Customer
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<h2>Yeni Müşteri</h2>
<br>

<form class="form-group" method="post">

    @Html.LabelFor(x => x.FirstName)
    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.LastName)
    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.City)
    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />

   


    <button class="btn btn-outline-primary">Ekle</button>
</form>

