@model List<ModelAoto.Models.Entities.Sale>
@{
    ViewBag.Title = "EmployeeSalesDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Personel Satışları</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı - @ViewBag.employeeName</li>
</ol>

<table class="table table-condensed">
    <tr>
        <th>Ürün Adı</th>
        <th>Müşteri Adı</th>
        <th>Birim Fiyat</th>
        <th>Adet</th>
        <th>Toplam Fiyat</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.Customer.FirstName @item.Customer.LastName</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>@item.TotalPrice</td>
            <td>@item.Date</td>
            <td><a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-print"></i>Yazdır</a></td>


        </tr>
    }


</table>